/*
@import "open-sans.css";
*/
@import "roboto.css";

/* GENERAL */
html, body {
    padding:0;
    margin:0;
}

body {
    background:#fafafa;
}

a, a:focus, a:hover, a:active {
    color:inherit;
}

a, a:focus, a:hover, a:active, input, input:active, input:focus, input:hover {
    outline:none;
}

/* UI KIT */
.btn {
    width:auto;
    height:auto;
    padding:10px 12px;
    box-sizing:border-box;
    border:1px solid #ddd;
    font-size:16px;
    font-family:"Roboto-Light";
    display:inline-block;
    margin:10px 0px;
    background:transparent;
}

.btn.btn-primary {
    color:#c0392b;
    border:1px solid #c0392b;
    border-radius:8px;
}

/* SEARCH */
#search {
    width:100%;
    height:100%;
    position:fixed;
    background:rgba(241, 241, 241, .95);
    z-index:3;
    display:flex;
    justify-content:center;
    align-items:center;
}

#search form label {
    position:relative;
}

#search form label span {
    position:absolute;
    bottom:-15px;
    font-size:3vh;
    color:#c0392b;
}

#search form label input {
    font-family:"Roboto-Bold";
    background:transparent;
    border:none;
    border-bottom:1px solid #c0392b;
    font-size:4vh;
    color:#c0392b;
}

#search .close {
    position:absolute;
    font-size:3vh;
    top:25px;
    right:35px;
}

/* HEADER */
header {
    position:relative;
    width:100%;
    height: 550px;
    overflow:hidden;
}

header:after {
    content:"";
    position:absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 200px 0 0 950px;
    border-color: transparent transparent transparent #fafafa;
    left:0;
    bottom:0;
}

header:before {
    content:"";
    position:absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 200px 950px 0 0;
    border-color: transparent #fafafa transparent transparent;
    right:0;
    bottom:0;
}

header .header-image {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    z-index:-1;
    overflow:hidden;
}

header .header-image:before {
    content:"";
    position:absolute;
    width:100%;
    height:550px;
    top:0;
    left:0;
    background:rgba(0, 0, 0, .7);
}

.header-image img {
    width:100%;
    min-width:100%;
    max-width:200%;
    min-height:550px;
}

/* NAVBAR */
nav {
    height:90px;
    box-sizing:border-box;
    width:100%;
    display:flex;
    justify-content:center;
}

nav ul {
    margin:0;
    padding:0;
    list-style:none;
}

nav ul li {
    font:18px "Roboto-Bold";
    color:#fff;
    float:left;
    line-height:90px;
}

nav ul li a {
    padding:25px;
}

.header-text {
    width:100%;
    height:auto;
    position:absolute;
    top:20vh;
    text-align:center;
}

.header-text h1 {
    color:#fff;
    font-family:"Roboto-Light";
    font-size:8vh;
    margin-bottom:0;
}

.header-text h4 {
    color:#f1f1f1;
    font-family:"Roboto-Black";
    font-size: 4vh;
    margin:0;
}

.post-title {
    float:left;
}

.post-title h1 {
    font-size:6vh;
}

.post-title h4 {
    font-family:"Roboto-Light";
    font-size:2vh;
}

/* CONTENT */
section {
    padding:50px 0px;
}

#blogs .blog h1 {
    color:#c0392b;
    font-family:"Roboto-Thin";
}

#blogs .blog p {
    color:#2c3e50;
    font-size:18px;
    font-family:"Roboto-Light"
}

#blogs .blog {
    padding:30px;
    border-bottom:1px solid #ddd;
}

/* COMMENTS */
.comments {
    padding:50px 0px;
}

.comments form label {
    color:#2c3e50;
    font-size:16px;
    font-family:"Roboto-Light";
}

.comments form label input, .comments form label textarea {
    width:100%;
    padding:5px 8px;
    font-size:16px;
    color:#2c3e50;
    margin:5px 0px 20px 0px;
    max-height:150px;
    resize:vertical;
    border:1px solid #ddd;
    border-radius:3px;
}

.comments form label textarea {
    height:100px;
}

.comment {
    display:flex;
    flex-wrap:wrap;
}

.comment .comment-avatar {
    width:10%;
    float:left;
}

.comment .comment-text {
    width:90%;
    padding:0px 20px;
    box-sizing:border-box;
}

.comment .comment-avatar img {
    border:5px solid #fff;
    border-radius:8px;
    box-shadow:0px 0px 3px #999;
    width:100%;
}

.comment .comment-text span {
    font-size:16px;
    font-family:"Roboto-Light";
}

.comment .comment-text span em {
    font-family:"Roboto-Medium";
}

.comment .comment-text p {
    font-size:16px;
    font-family:"Roboto-Light";
}

/* PAGINATION */
.pagination {
    list-style:none;
    padding:0;
    margin:0;
    display:flex;
    justify-content:center;
}

.pagination li {
    border:1px solid #c0392b;
    border-radius:5px;
    padding:3px 8px;
    float:left;
    color:#c0392b;
    font-size:16px;
    font-family:"Roboto-Light";
    margin:25px 5px;
}

/* FOOTER */
footer {
    text-align:center;
    font:16px "Roboto-LightItalic";
    color:#2c3e50;
    border-top:1px solid #ddd;
    line-height:25px;
}

footer a {
    margin:0px 3px;
    color:#999;
    display:inline-block;
}

/* MEDIA QUERIES */
@media all and (max-width:760px) {
    .header-text {
        margin-top:-50px;
    }

    .header-text h1 {
        font-size:7vh;
    }

    .header-text h4 {
        font-size:3vh;
    }

    .comment-text {
        width:100%;
    }

    .comment-avatar {
        display:none;
    }

    .post-title {
        margin:0;
    }

    .post-title h1 {
        font-size:3vh;
    }

    .post-title h4 {
        font-size:2vh;
    }

    section {
        padding:10px 0px!important;
    }
}